$melon: #f4996e;
$rojo: #e6563c;
$rosa: #df8986;
$amarillo: #f4952f;
$crema: #f9cbbb;
$grisOscuro: #727072;
$grisClaro: #a7a19c;

$cafe: #CB8C42;
$tucsany :#BA9890;
$rosaPalo: #FDD4CD;
$salmon: #EE9881;
$amaranja: #F9B458;
$durazno: #FBC5A4;
