@import "colors";
@import "fonts";

.carritoFlex::-webkit-scrollbar {
  width: 8px;
  background-color: #00000000;
  border-radius: 10px;
}

.carritoFlex::-webkit-scrollbar-thumb {
  background: $amaranja;
  border-radius: 10px;
}

.pagoContainer::-webkit-scrollbar {
  width: 8px;
  background-color: #00000000;
  border-radius: 10px;
}

.pagoContainer::-webkit-scrollbar-thumb {
  background: $amaranja;
  border-radius: 10px;
}

.gridCursos {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;

  .cursosContainer {
    min-height: 80vh;
    min-width: 50vw;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    h3,
    h4 {
      color: $grisOscuro;
    }

    .cursosLink {
      padding: 1.5rem 2rem;
      width: 80%;
      border-bottom: 2px solid $salmon;

      h2 {
        font-size: 2.5rem;
        color: $amaranja;
      }

      p {
        padding-top: 0.5rem;
        font-size: 16px;
        color: $grisOscuro;
      }

      button {
        margin: 0.5rem 0;
        padding: 0.5rem;
        border: 2px solid white;
        border-radius: 10px;
        background: linear-gradient(to right, white 50%, $salmon 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        font-family: $mainFont;
        font-weight: normal;
        font-size: 18px;
        color: white;

        cursor: pointer;

        transition: all 0.2s ease-out;
      }

      button:hover {
        border: 2px solid $salmon;
        background-position: left bottom;
        color: $salmon;
      }
    }

    #curso1 {
      text-align: left;

      .cursoDuracion {
        text-align: right;
      }
      .cursoFin {
        text-align: right;
      }

      .cursoPrecio {
        text-align: right;
      }
    }

    #curso2 {
      text-align: right;

      .cursoDuracion {
        text-align: left;
      }
      .cursoFin {
        text-align: left;
      }

      .cursoPrecio {
        text-align: left;
      }
    }

    #curso3 {
      margin-bottom: 1.5rem;
      text-align: left;

      .cursoDuracion {
        text-align: right;
      }
      .cursoFin {
        text-align: right;
      }

      .cursoPrecio {
        text-align: right;
      }
    }
  }

  .carricono {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-end;

    position: sticky;
    bottom: 0rem;
    align-self: flex-end;
    z-index: 6;

    .carritoIconContainer {
      margin: 1.5rem 3rem;
      width: 5rem;
      height: 5rem;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;

      border: solid 2px white;
      border-radius: 50%;
      background-color: $salmon;
      overflow: visible;

      cursor: pointer;

      p {
        font-size: 22px;
        font-family: $mainFont;
        font-weight: bold;
        color: white;
        position: absolute;
      }
    }
  }
}

.carritoContainer {
  width: 100vw;
  height: 100vh;
  background-color: #0000007e;
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0vh;
  z-index: 0;

  .carritoFlex {
    padding: 1rem;
    width: 50%;
    max-height: 30rem;
    background-color: $rosaPalo;
    border: 10px solid $salmon;
    border-radius: 10px;

    display: flex;
    flex-flow: column;
    align-items: center;
    align-self: center;

    overflow-y: scroll;

    #carritoTitle {
      margin: 1.5rem;
      margin-bottom: 1rem;
      text-align: center;
      font-size: 2.5rem;
      color: $amaranja;
    }

    #carritoClose {
      position: fixed;
      align-self: flex-end;

      cursor: pointer;
    }

    .carritoProductos {
      margin: 0.5rem 0;
      width: 80%;
      // text-align: center;
      color: $grisOscuro;

      display: flex;
      flex-flow: column;
      align-items: center;
      align-self: center;

      .carritoCurso {
        padding: 0.5rem 0rem;
        width: 100%;
        border-bottom: solid 2px $salmon;

        display: grid;
        grid-template-areas: "status status" "nombre basura" "duracion basura" "precio basura" "cursoFin basura";
        grid-template-columns: 90% 10%;

        .carritoNombre {
          margin: 0.5rem;
          margin-right: 0;
          font-size: 1.5rem;
          font-weight: normal;
          color: $salmon;
          text-align: left;

          grid-area: nombre;
        }

        button {
          margin: 0.5rem;
          border: none;
          background-color: #00000000;
          color: $rojo;

          grid-area: basura;
          justify-content: right;

          cursor: pointer;
        }

        p {
          margin-left: 0.5rem;
          margin-bottom: 0.5rem;
          grid-area: precio;
        }

        .carritoDuracion {
          grid-area: duracion;
        }

        #carritoStatus {
          margin-bottom: 1rem;
          margin-left: 0;
          padding: 1rem 0.5rem;
          background-color: $salmon;
          border-radius: 10px;
          font-size: 1rem;
          text-align: center;
          color: white;

          grid-area: status;
        }
      }
    }

    .precioTotal {
      margin: 1rem 0;
      padding: 1.5rem 0;
      width: 80%;
      border: solid 5px $amaranja;
      border-radius: 10px;
      text-align: center;
      color: $grisOscuro;

      p {
        font-size: 2rem;
        font-weight: bold;
        color: $amaranja;
      }
    }

    .btnPagar {
      padding: 1rem;
      font-family: $mainFont;
      font-size: 18px;
      color: white;
      background: linear-gradient(to right, white 50%, $salmon 50%);
      background-size: 220% 100%;
      background-position: right bottom;
      border: 2px solid white;
      border-radius: 10px;
      display: none;

      transition: all 0.2s ease-out;

      cursor: pointer;
    }

    .btnPagar:hover {
      border: 2px solid $salmon;
      background-position: left bottom;
      color: $salmon;
    }
  }
}

.pagoContainer {
  padding: 1rem;
  width: 50%;
  height: 30rem;
  background-color: $rosaPalo;
  border: 10px solid $salmon;
  border-radius: 10px;
  display: none;
  position: absolute;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;

  #pagoTitle {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
    color: $amaranja;
  }

  .containerClose {
    height: 30rem;
    position: fixed;
    align-self: flex-end;
    justify-self: flex-start;
    #pagarClose {


      cursor: pointer;
    }
  }

  .pagoForm {
    width: 75%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .vencimientoCCV {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
    }

    .inputsPago {
      margin: 0.5rem;
      width: 100%;
      display: flex;
      flex-flow: column wrap;

      label {
        font-family: $mainFont;
      }
    }

    .vencimientoTarjeta,
    .ccvTarjeta {
      margin: 1rem auto;
      width: 50%;
      align-items: center;

      .selectVencimiento {
        display: flex;
        flex-flow: row;
      }

      #inputCCV {
        width: 90%;
      }
    }

    label {
      padding: 0.2rem 0.5rem;
      color: $grisOscuro;
    }

    input {
      padding: 0.5rem;
      height: 1.2rem;
      border: 2px solid white;
      border-radius: 10px;
      background-color: $salmon;
      color: white;
    }

    input::placeholder {
      color: white;
    }

    input:focus {
      outline: none;
    }

    .enviarPago {
      align-items: center;
      #aEnviarPago {
        #enviarPagoBtn {
          padding: 1rem;
          height: auto;
          font-family: $mainFont;
          font-size: 18px;
          color: white;
          background: linear-gradient(to right, white 50%, $salmon 50%);
          background-size: 220% 100%;
          background-position: right bottom;
          border: 2px solid white;
          border-radius: 10px;

          transition: all 0.2s ease-out;

          cursor: pointer;
        }
      }

      #aEnviarPago:hover {
        #enviarPagoBtn {
          border: 2px solid $salmon;
          background-position: left bottom;
          color: $salmon;
        }
      }
    }
  }
}
