.container{
  height: 100vh;
  width: 100vw;
  background-color: red;
  border: 1px solid blue;
  display: grid;
  grid-template-areas: "pa pi" "pe pi";

  .pa{
    background-color: black;
    grid-area: pa;
  }

  .pe {
    background-color: grey;
    grid-area: pe;
  }

  .pi {
    background-color: white;
    grid-area: pi;
  }
}